<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>وب چت</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body dir="rtl">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mt-5 p-3">
                    <div class="info">
                        <a href="/info" class="btn btn-warning">درباره این سایت</a>
                    </div>
                    <p class="text-center">خوش آمدید به وبچت </p>
                    <small class="text-center">اسمی براش پیدا نکردم</small>
                    <div class="alert alert-danger" role="alert">
                        <p>حتمن از لپتاپ یا کامپیوتر از این سایت دیدن کنید <br>
                        ui این سایت برای این سیستم ها طراحی شده</p>
                    </div>
                    <div class="text-center">
                        <a href="/login/" class="btn btn-primary">ورود</a>
                        <a href="/sinup/" class="btn btn-primary">ثبت نام سریع</a>
                        <a href="/chat" class="btn btn-primary">صفحه اصلی چت</a>
                        <a href="/profile/" class="btn btn-primary">پروفایل</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>