<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>درباره سایت</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body dir="rtl">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mt-5 p-3">
                    <p>تکنولوژی های بکار رفته در این سایت</p>
                    <ul dir="ltr">
                        <li>Django</li>
                        <li>Postgresql</li>
                        <li>Django Channels(Daphne server for websocket)</li>
                        <li>Redis(channel layers)</li>
                        <li>gunicorn(server for project)</li>
                        <li>nginx(server)</li>
                        <li> <span class="text-muted">Django RestFramework(DRF|RestFullAPI)</span> <span class="text-danger">بزودی</span></li>
                        <li> <span class="text-muted">Docker</span> <span class="text-danger">بزودی</span></li>
                    </ul>
                    <p>قابلیت ها این سرویس:</p>
                    <ul>
                        <li>چت خصوصی</li>
                        <li>چت گروهی</li>
                        <li>ساخت و مدیریت گروه ها</li>
                        <li><span class="text-muted">ساخت و مدیریت کانال ها</span> <span class="text-danger">بزودی</span></li>
                        <li><span class="text-muted">api</span> <span class="text-danger">بزودی</span></li>
                        <li>داکیومنت api <span class="text-danger">بزودی</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>