[Unit]
Description=daphne daemon
After=network.target

[Service]
User={USER}
Group={GROUP}
WorkingDirectory=/home/{USER}/WebFullChatApplication/
ExceStart=/home/{USER}/WebFullChatApplication/env/bin/daphne --bind 0.0.0.0 -p 8001 core.asgi:application

[Install]
WantedBy=multi-user.target