{% extends 'chat/base.html' %}
{% load static %}

{% block chatpage %}
<div class="card-header msg_head" id="chat-header">
    <div class="d-flex bd-highlight">
        <div class="img_cont">
            {% if target_user.profile.image %}
            <img src="{{target_user.profile.image.url}}" class="rounded-circle user_img_msg">
            {% else %}
            <img src="{% static 'images/default-profile.png' %}" class="rounded-circle user_img_msg">
            {% endif %}
            <span class="online_icon"></span>
        </div>
        <a href="#" class="text-danger" style="text-decoration: none;" onclick="OpenProfile()">
            <div class="user_info">
                <span>{{target_user.get_full_name|default:'NOT NAME'}}</span>
                <p><span id="message-count">{{messages.count}}</span> <span>پیام</span></p>
            </div>
        </a>
    </div>
    <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
    <div class="action_menu">
        <ul>
            <li onclick="OpenProfile()"><i class="fas fa-user-circle"></i> View profile</li>
            <li><i class="fas fa-plus"></i><a href="leave">Leave Group</a></li>
            <li><i class="fas fa-plus"></i> Add to group</li>
            <li><i class="fas fa-users"></i> Add to close friends</li>
            <li><i class="fas fa-ban"></i> Block</li>
        </ul>
    </div>
</div>
<div class="card-body msg_card_body" id="chat-body">
    {% if messages %}
        {% for msg in messages %}
            {% if msg.sender == request.user %}
            <div class="d-flex justify-content-end mb-4">
                <div class="msg_cotainer_send">
                    {{msg.text}}
                    <span class="msg_time_send">{{msg.date_time}}</span>
                </div>
                <div class="img_cont_msg">
                    {% if request.user.profile.image %}
                    <img src="{{request.user.profile.image.url}}" class="rounded-circle user_img_msg">
                    {% else %}
                    <img src="{% static 'images/default-profile.png' %}" class="rounded-circle user_img_msg">
                    {% endif %}
                    
                </div>
            </div>
            {% else %}
            <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                    {% if target_user.profile.image %}
                    <img src="{{target_user.profile.image.url}}" class="rounded-circle user_img_msg">
                    {% else %}
                    <img src="{% static 'images/default-profile.png' %}" class="rounded-circle user_img_msg">
                    {% endif %}
                </div>
                <div class="msg_cotainer">
                    {{msg.text}}
                    <span class="msg_time">{{msg.date_time|time}}</span>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}


</div>

<div id="chat-profile" style="display: none;">
    <div class="card" style="height: auto;">
        <div class="card-title">
            <button class="btn btn-primary" onclick="OpenProfile()"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30">
                    <path
                        d="M10.78 19.03a.75.75 0 0 1-1.06 0l-6.25-6.25a.75.75 0 0 1 0-1.06l6.25-6.25a.749.749 0 0 1 1.275.326.749.749 0 0 1-.215.734L5.81 11.5h14.44a.75.75 0 0 1 0 1.5H5.81l4.97 4.97a.75.75 0 0 1 0 1.06Z">
                    </path>
                </svg></button>
        </div>
    </div>
    <div class="row2 justify-content-center">
        {% if target_user.profile.image %}
            <img src="{{target_user.profile.image.url}}" class="rounded-circle"
            style="max-width: 300px;max-height: 300px;" alt="">
        {% else %}
            <img src="{% static 'images/default-profile.png' %}" class="rounded-circle"
            style="max-width: 300px;max-height: 300px;" alt="">
        {% endif %}
    </div>
    <div class="row justify-content-center">
        <div class="row">
            <div class="col">
                <div class="card p-4 text-white" style="height: auto;">
                    <p>name: {{target_user.get_full_name|default:'NOT NAME'}}</p>
                    <p class="text-mouted">
                        username: <input type="text" disabled placeholder="http://127.0.0.1:8000/chat/u/{{target_user.username}}/">
                        <button class="btn btn-warning"
                            onclick="navigator.clipboard.writeText('http://127.0.0.1:8000/chat/u/{{target_user.username}}')">copy</button>
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="row justify-content-center">
    </div>
    <div class="row justify-content-center">
    </div>
</div>


<div class="card-footer" id="chat-footer">
    <div class="input-group">
        <div class="input-group-append">
            <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
        </div>
        <textarea name="new-message" id="new-message" class="form-control type_msg"
            placeholder="Type your message..."></textarea>
        <div id="submit_new_message" class="input-group-append">
            <span onclick="" class="input-group-text send_btn"><i
                    class="fas fa-location-arrow"></i></span>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#action_menu_btn').click(function () {
            $('.action_menu').toggle();
        });
    });	</script>
{% endblock %}

{% block websocket %}
<script>
    var chat_header = document.getElementById('chat-header');
    var chat_body = document.getElementById('chat-body');
    var chat_body2 = $('#chat-body');
    var chat_foter = document.getElementById('chat-footer');
    var chat_profile = document.getElementById('chat-profile');
    var profile_counter = 1;

    function OpenProfile() {

        profile_counter += 1;

        if (profile_counter % 2 != 0) {
            chat_body.style.display = "block";
            chat_header.style.display = "block";
            chat_foter.style.display = "block";
            chat_profile.style.display = "none";
        }

        if (profile_counter % 2 === 0) {
            chat_body.style.display = "none";
            chat_header.style.display = "none";
            chat_foter.style.display = "none";
            chat_profile.style.display = "block";
        }
    }

    var audio_send = new Audio("{% static 'sound/send.mp3' %}");
    var audio_receive = new Audio("{% static 'sound/receive.mp3' %}");
    var text = document.getElementById('new-message');
    var form = document.getElementById('form-send-message');
    var my_username = '{{request.user.username}}'
    var member_count = document.getElementById('member_count');
    var message_count = document.getElementById('message-count');

    text.focus();
    var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/?username={{target_user.username}}'
    );
    var default_msg = {{messages.count}}
    socket.onmessage = function(e) {
        var message = JSON.parse(e.data);
        message_count.innerHTML = default_msg++;
        if (message['sender'] === my_username){
            audio_send.play();
            chat_body.innerHTML += `<div class="d-flex justify-content-end mb-4">
                        <div class="msg_cotainer_send">
                            ${message['text']}
                            <span class="msg_time_send">8:55 AM, Today</span>
                        </div>
                        <div class="img_cont_msg">
                            {% if request.user.profile.image %}
                            <img src="{{request.user.profile.image.url}}" class="rounded-circle user_img_msg">
                            {% else %}
                            <img src="{% static 'images/default-profile.png' %}" class="rounded-circle user_img_msg">
                            {% endif %}
                        </div>
                    </div>`;
            }else {
                audio_receive.play();
                chat_body.innerHTML += `<div class="d-flex justify-content-start mb-4">
                    <div class="img_cont_msg">
                        {% if target_user.profile.image %}
                        <img src="{{target_user.profile.image.url}}" class="rounded-circle user_img_msg">
                        {% else %}
                        <img src="{% static 'images/default-profile.png' %}" class="rounded-circle user_img_msg">
                        {% endif %}
                    </div>
                    <div class="msg_cotainer">
                        ${message['text']}
                        <span class="msg_time">8:40 AM, Today</span>
                    </div>
                </div>`;
            }
            chat_body.scrollTop = chat_body.scrollHeight;
            text.value = "";
            text.focus();
    }

    socket.onclose = function (e){
        console.log('websocket connection closed.');
    }
    
    document.getElementById("submit_new_message").onclick = function (e){

        socket.send(JSON.stringify({'text': text.value}));
        chat_body.scrollTop = chat_body.scrollHeight;
        text.value = "";
        text.focus();
    }
</script>
{% endblock %}